PORT=3000
NATS_SERVERS='nats://localhost:4222'

# https://dashboard.stripe.com/apikeys
STRIPE_SECRET=
STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel

# https://dashboard.stripe.com/test/workbench/webhooks/we_1Q9EqFGWpAmbvDif4Abs4A5Q
# This is the signing webhook
STRIPE_ENDPOINT_SECRET=whsec_kBi2NwcFWdPb52zFmwh2Ddk9U6pSf4Qd